* {
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #820300;
    color: #FF9800;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    align-items: center;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 36px;
}

.escola-imagem {
    width: 30%;
}

.escola {
    color: #FF9800;
    background-image: linear-gradient(#820300,#e03f3d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteúdo {
    width: 30%;
}